Final_Model_404.ipynb
Untitled.ipynb
img/
Business_Case.md
Presentation.slides.html
DataCoSupplyChainDataset.csv
Final_Model_404.ipynb
README.log
README.md
bookstore.db
chinook.db
HW2-EDA.ipynb
ReadMe.rtf
example.py
__pycache__
im_a_test.ipynb
htmlcov/
lr_model.sav
.ipynb_checkpoints/
HW5_Order_Cancellations_Write_Up.txt
HW5_quantity_checks/
HW5_requirements.txt
HW5_scoring.py
HW5_tests/
main.py
model_score.py
Order_Cancellations_Write_Up.txt
tests-not-used/